*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
h1{
    font-size: 5rem;
    color: rgb(66, 128, 209);
}
h2{
    font-size: 2rem;
    color: green;
}
h3{
    font-size: 1.8rem;
    color: red;
}
button{
    border: none;
    padding: 2em;
    color: rgb(221, 221, 221);
    font-size: 2em;
    background-color: crimson;
}
button:hover{
    background-color: none;
    border: 1px solid crimson;
    color: crimson;
}